@{
ViewData["Title"] = "Customer";
Layout = "_Layout";
}
<div class="headertag">
    <a class="header-brand" href="#">
    <img src="~/images/Homevector.png" class="header-brand-img" alt="">
    </a>
      <img src="~/images/arrowvector.png" class="header-brand-img" alt="">
      <span class="headtagname"> Customer</span>

</div>
<div class="text-center">
    <h1 class="display-4">Customer</h1>   
</div>